*
{
	font-family: 'fantasy', Impact;
}
header
{
	padding: 15px;
	height: 150px;
	border-radius: 0 0 20px 20px;
}
header img
{
	float: left;
	height: 150px;
}
h1
{
	color: rgb(227, 236, 142);
	min-width: 1280px;
	margin: 43px 0;
	font-size: 55px;
	font-family: 'Nunito', sans-serif;
}
body
{
	margin: 0;
	background: url(https://gamerwall.pro/uploads/posts/2022-03/1648657632_7-gamerwall-pro-p-milii-myatnii-fon-krasivie-7.png);
}
*
{
	font-family: 'Nunito', sans-serif;
}
header
{
	padding: 15px;
	height: 150px;
	background-color: #539F68;
	border-radius: 0 0 20px 20px;
}
header img
{
	float: left;
	height: 150px;
}
h1
{
	color: rgb(227, 236, 142);
	min-width: 1280px;
	margin: 43px 0;
	font-size: 55px;
	font-family: 'Nunito', sans-serif;
}
body
{
	margin: 0;
	background: url(https://gamerwall.pro/uploads/posts/2022-03/1648657632_7-gamerwall-pro-p-milii-myatnii-fon-krasivie-7.png);
}
h2
{
	margin: 5px 0;
	text-align: center;
	color: #539F68;
}
nav
{
	display: flex;
	width: 900px;
	margin: 10px auto 0 auto;
	padding: 10px 30px;
	background:rgb(227, 236, 142);
	justify-content: space-around;
	border-radius: 20px 20px 0 0;
}
nav a
{
	margin: 10%;
	color: rgb(114, 67, 12);
	text-decoration: none;
}
main
{
	width: 900px;
	margin: 0 auto;
	padding: 10px 30px 20px 30px;
	background:#EBDCB2;
	border-radius: 0 0 20px 20px;
}
.ol-links img
{
	max-width: 770px;
	padding: 20px;
}
table
{
	width: 600px;
	margin: auto;
	border-collapse: collapse;
	text-align: center;
	border: 2px solid black;
}
fieldset
{
	margin: 0;
}
fieldset legend
{
	font-size: 20px;
	color: rgb(28, 82, 111);
}
th
{
	border: 2px solid black;
}
td
{
	border: 2px solid black;
}
footer
{
	margin-top: 10px;
	background: #C9A66B;
	padding: 20px;
}
footer span
{
	color: #55462b;
}
