//Обнуляющий стиль
@import "nullstyle.scss";

//шрифт
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

h1
{
	
		font-size: 12px;
		font-weight: 700;
		color: #e3ec8e;
}
body
{
	font-size: 10px;
	font-family: 'Nunito', sans-serif;
	background-image: url(https://gamerwall.pro/uploads/posts/2022-03/1648657632_7-gamerwall-pro-p-milii-myatnii-fon-krasivie-7.png);
}
.wrapper
{
	margin: auto;
}
.flexible-image
{
	display: block;
	max-width: 100%;
}
.header
{
	padding: 5px;
	background-color: #5B976B;
	&__row
	{
		display: flex;
		max-height: 250px;
	}
	&__image
	{
		flex-basis: 15%;
		& img
		{
			max-width: 100%;
			max-height: 100%;
		}
	}
	&__text
	{
		align-self: center;
		flex: 1 1 85%;
		text-align: center;
	}
}
.title
{
	text-align: center;
	font-size: 11px;
	color: #3f6135;
	font-weight: bold;
	margin: 10px 0;
}
p
{
	margin: 5px;
}
.nav
{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	background-image: url(https://phonoteka.org/uploads/posts/2021-04/1619719706_31-phonoteka_org-p-lyagushka-pepe-fon-33.jpg);
	padding: 5px;
	&__btm
	{
		display: block;
		text-align: center;
		width: 20%;
		background-color: #8b7254;
		height: 40px;
		line-height: 40px;
		border-radius: 10px;
		margin: 5px 0;
	}
	&__btm:hover
	{
		background-color: #6e5941;
	}
	&__ref a
	{
		color: white;
	}
}
.content
{
	padding: 5px;
	background-color: #d0f0c0;
}
.links
{
	& ol
	{
		margin: 0 0 0 20px;
	}
	& li
	{
		line-height: 15px;
	}
	& ol a
	{
		text-decoration: underline;
	}
	& ol img
	{
		margin: 5px -10px;
	}
}
.table-form
{
	display: flex;
	flex-direction: column;
}
.table
{
	order: 2;
	//margin: 0 0 30px 0;
	margin: 0 0 10px 0;
	&__cpu
	{
		width: 100%;
		margin: 0 auto;
		text-align: center;
		border-collapse: collapse;
		border: 2px solid black;
		th, td
		{
			padding: 1px;
			border: 2px solid black;
		}
	}
}
.form
{
	order: 1;
	& fieldset
	{
		border: 1px solid #4f7942;
	}
	& legend
	{
		margin: 0 5px;
		padding: 0 5px;
		color:  #4f7942;
	}
}
.footer
{
	background-color: #5B976B;
	&__row
	{
		display: flex;
		justify-content: center;
		align-items: center;
		height: 50px;
	}
	&__text
	{
		color: #CD5B45;
	}
}
@media screen and (min-width: 425px)
{
	h1
	{
		font-size: 16px;
	}
	body
	{
		font-size: 12px;
	}
	.title
	{
		font-size: 14px;
	}
}
@media screen and (min-width: 768px)
{
	h1
	{
		font-size: 30px;
	}
	
	body
	{
		font-size: 14px;
	}
	.content
	{
		padding: 10px;
	}
	.title
	{
		font-size: 20px;
	}
	.links
	{
		& li
		{
			line-height: 20px;
		}
	}
}
@media screen and (min-width: 1024px) 
{
	h1
	{
		font-size: 35px;
	}
	.title
	{
		margin: 15px 0;
		font-size: 25px;
	}
	p
	{
		margin: 15px;
	}
	body
	{
		font-size: 16px;
	}
	.header
	{
		padding: 25px;
		background-color:  #5B976B;
		margin: 0 0 10px 0;
		border-radius: 0 0 20px 20px;
	}
	.wrapper
	{
		max-width: 960px;
		margin: auto;
	}
	.content
	{
		padding: 30px;
		border-radius: 0 0 20px 20px;
		margin: 0 0 10px 0;
	}
	.nav
	{
		flex-direction: row;
		border-radius: 20px 20px 0 0;
		padding: 0 30px;
		&__btm
		{
			width: 100px;
		}
	}
	.links
	{
		& ol
		{
			margin: 0 0 0 40px;
		}
	}
	.form
	{
		order: 2;
	}
	.table
	{
		order: 1;
		margin: 0 auto;
		font-size: 20px;
	}
}
@media screen and (min-width: 1440px) 
{
	h1
	{
		font-size: 55px;
	}
	body
	{
		font-size: 20px;
	}
	.nav
	{
		padding: 10px 0;
		&__btm
		{
			width: 120px;
			height: 60px;
			line-height: 60px;
		}
	}
	.links
	{
		& li
		{
			line-height: 25px;
		}
	}
}
